

@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>
<br/>
<div class="container">
   
    <p>@Html.ActionLink("Add/Remove Subjects", "Index", "Subjects")</p>
    <p>@Html.ActionLink("Add/Remove Questions", "Index", "Questions")</p>
    <p>@Html.ActionLink("View User Records", "ViewUsersRecord")</p>

</div>

